{# @var publication \AlmaviaCX\Calameo\API\Value\Publication #}
{% extends '@IbexaCore/content_fields.html.twig' %}

{% block calameo_publication_field %}
    {% set publication = loadCalameoPublication(field.value) %}
    {% if publication %}
        {% if publication.viewUrl %}
            <a href="{{ publication.viewUrl }}" target="_blank">{{ publication.name }} ({{ publication.id }})</a>
        {% else %}
            {{ publication.name }} ({{ publication.id }})
        {% endif %}
    {% endif %}
{% endblock %}
