{# @var publication \AlmaviaCX\Calameo\API\Value\Publication #}
{% trans_default_domain 'ezrepoforms_content' %}

{% use '@ibexadesign/ui/field_type/edit/binary_base.html.twig' %}

{%- block ezplatform_fieldtype_calameo_publication_row -%}
    {% set widget_container_block_name = 'calameo_publication_widget_container' %}
    {% set preview_block_name = 'calameo_publication_preview' %}
    {% set max_file_size = 0 %}
    {% set file_is_empty = form.parent.vars.value.value.publicationId is null %}
    {{ block('binary_base_row') }}
{%- endblock -%}

{% block calameo_publication_preview %}
    {% set readonly = attr.readonly|default(false) %}
    {% set publication = loadCalameoPublication(form.parent.vars.value.value) %}
    <div class="ibexa-field-edit-preview">
        <div class="ibexa-field-edit-preview__visual">
            <div class="ibexa-field-edit-preview__media-wrapper">
                <div class="ibexa-field-edit-preview__file-name-wrapper">
                    <label class="ibexa-label form-label">{{ 'ezbinaryfile.file_name.label'|trans|desc('File name') }}</label>
                    <p class="ibexa-field-edit-preview__file-name">{{ publication ? publication.name }}</p>
                </div>
                <div class="ibexa-field-edit-preview__actions">
                    <a
                            class="ibexa-field-edit-preview__action--preview btn ibexa-btn ibexa-btn--ghost ibexa-btn--small" href="{{ publication ? publication.viewUrl }}"
                            target="_blank"
                            {{ readonly ? 'disabled' }}
                    >
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path('view') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'ezbinaryfile.action.preview'|trans|desc('Preview') }}</span>
                    </a>
                    <button
                            type="button"
                            class="ibexa-field-edit-preview__action--remove btn ibexa-btn ibexa-btn--ghost ibexa-btn--small"
                            {{ readonly ? 'disabled' }}
                    >
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'ezbinaryfile.action.remove'|trans|desc('Delete') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block calameo_publication_widget_container %}
    {{- form_widget(form.publicationId) -}}
    {{- form_widget(form.folderId) -}}


    {% set fieldtype = form.parent %}
    {% set field_type_descriptions = fieldtype.vars.value.fieldDefinition.descriptions %}

    <div{% with { attr: preview_attr } %}{{ block('attributes') }}{% endwith %}>
        {{ block(preview_block_name) }}
    </div>
    <div{% with { attr: widget_wrapper_attr } %}{{ block('attributes') }}{% endwith %}>
        <div class="ibexa-data-source">
            {{ block('binary_base_widget') }}
        </div>
    </div>

{% endblock %}